<div style="padding-left: 150px;">
<h1>Listing Tenants</h1>


<div class="tenants-list" style="float: left; background: grey; font-family: Arial; color: #ffffff; font-size: 14px;">
  <table>
    <tr>
      <th>Subdomain</th>
      <th>Action</th>
    </tr>

  <% @tenants.each do |tenant| %>
    <tr>
      <td style="width: 150px; padding-left: 20px;"><%= tenant.subdomain %></td>
      <td class="list-rows" style="width: 140px; color: whiteSmoke; border-left: 1px solid #000000; padding-left: 15px;"><%= link_to 'Show', tenant, :style=>" color: #f5f5dc;"%> |   <%= link_to 'Edit', edit_tenant_path(tenant), :style=>" color: #f5f5dc;" %> | <%= link_to 'Destroy', tenant, confirm: 'Are you sure?', method: :delete, :style=>" color: #f5f5dc;" %></td>
    </tr>
  <% end %>
  </table>
</div>
<div style="float: left; padding-left: 20px;">
  <a href="tenants/new" style="text-decoration: none;"><div class="create-btn" align="center">New Tenant</div></a
</div>
</div>

